<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=MFTG-PC\SQLEXPRESS; User Id=sa; Password=Nescafe3in1;  Database=hr_bak; MultipleActiveResultSets=true;" />
    <!--<add name="DefaultConnection" connectionString="Data Source=Apache; Database=hr_bak;Integrated Security=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>